#API
fastapi
uvicorn
streamlit
requests
joblib
ml_logic @git+https://github.com/CodeWarriorM/hospital_readmission/ml_logic.git
#ML
numpy
pandas
matplotlib
seaborn
jupyter
scikit-learn
shap
imblearn

#.env
python-dotenv
